@charset "utf=8";
.bg-wrap{
  width: 500px;
  height: 300px;
  border: 5px solid #333;
  /* background: transparent url("../images/cafe.jpg") 50% /contain no-repeat; */
  background-color: yellow;
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
  url("../images/cafe.jpg");

}
.bg-wrap:hover{
  background-image: url("../images/cafe.jpg");

}